<a href="https://colab.research.google.com/github/utukJ/Graded_quiz/blob/master/quiz_B_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CODE FOR STAGE B QUIZ

In [109]:
## importing relevant libraries for data manipulation and visualization

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [110]:
## mounting my google drive on my notebook for access to the stored dataset

from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [111]:
## getting the dataset from my google drive

energydata = pd.read_csv("/content/gdrive/My Drive/energydata_complete.csv")
energydata

                      date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0      2016-01-11 17:00:00          60      30  ...   5.300000  13.275433  13.275433
1      2016-01-11 17:10:00          60      30  ...   5.200000  18.606195  18.606195
2      2016-01-11 17:20:00          50      30  ...   5.100000  28.642668  28.642668
3      2016-01-11 17:30:00          50      40  ...   5.000000  45.410389  45.410389
4      2016-01-11 17:40:00          60      40  ...   4.900000  10.084097  10.084097
...                    ...         ...     ...  ...        ...        ...        ...
19730  2016-05-27 17:20:00         100       0  ...  13.333333  43.096812  43.096812
19731  2016-05-27 17:30:00          90       0  ...  13.300000  49.282940  49.282940
19732  2016-05-27 17:40:00         270      10  ...  13.266667  29.199117  29.199117
19733  2016-05-27 17:50:00         420      10  ...  13.233333   6.322784   6.322784
19734  2016-05-27 18:00:00         430      10  ...  13.200000  34.118851  34.118851

[19735 rows x 29 columns]

## Course Instructions:


To answer some questions, you will need to normalize the dataset using the MinMaxScaler after removing the following columns: [“date”, “lights”]. The target variable is “Appliances”. Use a 70-30 train-test set split with a  random state of 42 (for reproducibility). Run a multiple linear regression using the training set and evaluate your model on the test set.

In [112]:
# dropping date and lights columns

dropped_energydata = energydata.drop(columns = ["date", "lights"])

In [118]:
## importing relevant packages for data modeling

from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error



# normalizing dataset with MinMaxScaler
scaler = MinMaxScaler()
scaled_energydata = pd.DataFrame(scaler.fit_transform(dropped_energydata), columns = dropped_energydata.columns)

# separating features from target and splitting train and test set
target = scaled_energydata["Appliances"]
features = scaled_energydata.drop(columns = ["Appliances"])

x_train, x_test, y_train, y_test = train_test_split(features, target, test_size = .3, random_state = 42)


# running a multiple linear regression 
lin_reg = LinearRegression()
lin_reg.fit(x_train, y_train)

# evaluating model on test set
predictions = lin_reg.predict(x_test)
mae = mean_absolute_error(y_test, predictions).round(2)
mse = mean_squared_error(y_test, predictions).round(2)
r2 = r2_score(y_test, predictions).round(2)
rmse = np.sqrt(mean_squared_error(y_test, predictions)).round(3)
rss = np.sum(np.square(y_test - predictions)).round(2)

print("mae: {}, mse: {}, r2_score: {}, rmse: {}, rss: {}".format(mae, mse, r2, rmse, rss))

mae: 0.05, mse: 0.01, r2_score: 0.15, rmse: 0.088, rss: 45.35

In [119]:
# obtaining feature weights

weights_df = pd.DataFrame(lin_reg.coef_, features.columns)
weights_df.sort_values(by = 0)

                    0
RH_2        -0.456698
T_out       -0.321860
T2          -0.236178
T9          -0.189941
RH_8        -0.157595
RH_out      -0.077671
RH_7        -0.044614
RH_9        -0.039800
T5          -0.015657
T1          -0.003281
rv1          0.000770
rv2          0.000770
Press_mm_hg  0.006839
T7           0.010319
Visibility   0.012307
RH_5         0.016006
RH_4         0.026386
T4           0.028981
Windspeed    0.029183
RH_6         0.038049
RH_3         0.096048
T8           0.101995
Tdewpoint    0.117758
T6           0.236425
T3           0.290627
RH_1         0.553547

In [127]:
# fitting ridge and lasso regression models

from sklearn.linear_model import Ridge, Lasso


ridge_reg = Ridge(0.4).fit(x_train, y_train)
lasso_reg = Lasso(0.001).fit(x_train, y_train)



# evaluating the models

predictions = ridge_reg.predict(x_test)
mae = mean_absolute_error(y_test, predictions).round(2)
mse = mean_squared_error(y_test, predictions).round(2)
r2 = r2_score(y_test, predictions).round(2)
rmse = np.sqrt(mean_squared_error(y_test, predictions)).round(3)
rss = np.sum(np.square(y_test - predictions)).round(2)

print("Ridge evaluation: ")
print("mae: {}, mse: {}, r2_score: {}, rmse: {}, rss: {}".format(mae, mse, r2, rmse, rss))

predictions = lasso_reg.predict(x_test)
mae = mean_absolute_error(y_test, predictions).round(2)
mse = mean_squared_error(y_test, predictions).round(2)
r2 = r2_score(y_test, predictions).round(2)
rmse = np.sqrt(mean_squared_error(y_test, predictions)).round(3)
rss = np.sum(np.square(y_test - predictions)).round(2)


print("Lasso evaluation: ")
print("mae: {}, mse: {}, r2_score: {}, rmse: {}, rss: {}".format(mae, mse, r2, rmse, rss))

Ridge evaluation:
mae: 0.05, mse: 0.01, r2_score: 0.15, rmse: 0.088, rss: 45.37
Lasso evaluation:
mae: 0.06, mse: 0.01, r2_score: 0.03, rmse: 0.094, rss: 51.85

In [125]:
## From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) 
## and the temperature outside the building (y = T6). What is the R^2 value in two D.P

x = np.array(features['T2']).reshape(-1,1)
y = features['T6']

lin_model = LinearRegression()
lin_model.fit(x, y)
preds = lin_model.predict(x)
lin_model.score(x, y).round(2)

0.64